{% extends "base.html" %}

{% block content %}
<hr class="my-4">
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="btn-group-vertical">
        <a class="btn btn-dark btn-lg" href="/all-res/" role="button">全部餐厅</a>
        <a class="btn btn-dark btn-lg" href="/week-star/" role="button">本周星选</a>
        <a class="btn btn-dark btn-lg" href="/guess-you/" role="button">猜您喜欢</a>
        <a class="btn btn-dark btn-lg" href="/my-info/" role="button">我的信息</a>
      </div>
    </div>
    <div class="col-6">
      {% for res in res_page %}
        <div class="card bg-dark" style="width: 25rem;">
          <img src="{{ res.res_image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ res.name }}</h5>
            <p class="card-text">{{ res.address }}</p>
            <p class="card-text">{{ res.type }}</p>
            <p class="card-text">口味:{{ res.rate_taste }}  环境:{{ res.rate_surround }}  服务:{{ res.rate_service }}</p>
          </div>
          <div class="card-body">
            <a href="/detail/{{ res.pk }}/" class="btn btn-primary btn-lg">查看</a>
          </div>
        </div>
        <div></div>
        <br />
       {% endfor %}

        <div>
           <nav aria-label="Page navigation example">
           <ul class="pagination">
           <li class="page-item"><a class="page-link" href="/all-res/?page=1">首页</a></li>
                {% if res_page.has_previous %}
                    <li class="page-item"><a class="page-link" href="/all-res/?page={{ res_page.previous_page_number }}">{{ res_page.previous_page_number }}</a></li>
                {% endif %}
                {% if res_page.has_next %}
                    <li class="page-item"><a class="page-link" href="/all-res/?page={{ res_page.next_page_number }}">{{ res_page.next_page_number }}</a></li>
                {% endif %}
                 <li class="page-item"><a class="page-link" href="/all-res/?page={{ res_page.paginator.num_pages }}">尾页</a></li>
            </ul>
            </nav>
        </div>
    </div>
  </div>
</div>

{% endblock content %}